#ignore all source files.

#*.png
#*.psd
#*.tga
#*.jpg
#*.jpeg
#*.bmp
#*.qci
#*.qc
#*.smd
#*.blend
#modelsrc/
#materialssrc/

release/
*.lnk
*.blend1
*.vmf_autosave
*.log
*.prt
*.lin
*.bsp
!maps/*.bsp
